.list-group {
  text-align: center;
}

.list-group-item {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px dotted #ffff00;
  align-items: center;
  margin-top: 6px;
}

.image {
  width: 10%;
}

.email {
  width: 30%;
}

.info {
  width: 20%;
}
