.column-headers {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #ffff00;
  align-items: center;
  padding-bottom: 15px;
}

.column-headers p {
  text-align: center;
}

.image {
  width: 10%;
}

.email {
  width: 30%;
}

.info {
  width: 20%;
}
